/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
}
.App {
  margin: 40px auto;
  width: 420px;
  height: 700px;
  background: linear-gradient(
    180deg,
    rgba(93, 180, 191, 1) 0%,
    rgba(115, 193, 203, 1) 35%,
    rgba(150, 215, 224, 1) 100%
  );
  border-radius: 5px;
  box-shadow: 0px 0px 79px 22px rgba(188, 218, 222, 1);
}
.App .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow: auto;
}
.emty {
  margin-top: 140px;
  width: 200px;
}

.Header {
  padding: 30px;
  text-align: center;
}
.Header span {
  font-size: 24px;
  color: #ecf7fa;
  letter-spacing: 4px;
}
.status {
  margin-left: 10px;
  font-size: 10px;
  color: #ecf7fa;
  letter-spacing: 2px;
}
.item {
  display: flex;
  align-items: center;
  width: 380px;
  background-color: #ecf7fa;
  color: #456a70;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #70bfcc;
  cursor: pointer;
}
.item p {
  margin: 10px 20px;
  word-break: break-all;
}
.Finished {
  margin-top: 20px;
}
.Finished .item {
  background-color: #8fd3dd;
  text-decoration: line-through;
  color: white;
}

.NewTodo {
  margin-top: 30px;
  text-align: center;
  position: relative;
}
.NewTodo input {
  padding: 10px 20px;
  border: none;
  outline: none;
  width: 330px;
  background-color: #ecf7fa;
  color: #456a70;
}
.NewTodo button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  padding: 8px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #456a70;
  transition: all 0.5s;
  background-color: #d7e5ea;
}
.NewTodo button:hover {
  background-color: #5da2b6;
  color: white;
}
.addIcon {
  width: 44px;
  cursor: pointer;
}
